.header {
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    top: 0;
    background-color: white;
    align-items: center;
    & .navbar .nav {
            text-decoration: none;
            color: black;
            padding: 20px;
            font-size: 19px;
            font-weight: 600;
            font-family: inherit;
            line-height: 16px;

            &:hover {
                color: #4267B2;
            }
            &.active {
                color: #4267B2;
                border-bottom: 1px solid #000;
            }
            
        }
        & .header__logo {
            margin-right: 29px;
            height: 120px;
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        & .icon {
            margin-right: 30px;
            display: flex;
            & i {
                padding: 10px;
                font-size: 20px;
                cursor: pointer;
                color: black;
            }
           
        }
        .quantity-cart {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: yellow;
            display: flex;
            justify-content: center;
            align-content: space-around;
            align-items: center;
            position: absolute;
            top: 40px;
            right: 30px;
        }
 @import "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";



form {
  display: inline-block;
  margin: 0 auto;
}

.pseudo-search {
  display: inline;
  border: 2px solid #ccc;
  border-radius: 100px;
  padding: 7px 15px;
  transition: background-color 0.5 ease-in-out;

  input {
    border: 0;
    background-color: transparent;
    width: 200px;

    &:focus {
      // Unsure how to fix this...
      outline: none;
    }
  }
  
  
  button, i {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  select {
    border: none;
  }

}
        .cart-quantity {
           
            font-size: 13px;
            
            color: firebrick;
            border-radius: 5px;
        }
        .login {
            text-decoration: none;
            color: black;
        }
        .input-seach {
            margin-right: -280px;
            .input {
                border-radius: 5px;
                line-height: 15px;
            }

            
    

        }
       

}
.avatar-user {
  width: 40px;
  height: 40px;
  border-radius: 80px;
  margin-left: 10px;
  object-fit: cover;
  cursor: pointer;
  
}
.avatar {
  display: flex;
  flex-direction: column;
  
}

.box {
  width: 300px;
  // height: 80px;
  background-color:white;
  position: absolute;
  top: 90px;
  right: 50px;
  border-radius: 10px;
  display: none;
  
  & .flex{
    display: flex;
    margin-left: 7px;
    margin-top: 5px;
    border-bottom: solid 1px;

  }
  & .name {
    margin-top: 7px;
    margin-left: 10px;
    font-size: 17px;
    font-family:sans-serif;
    font-weight: 550;
  }
  & .info {
    font-size: 20px;
    font-family: serif;
    font-weight: 549;
    color: rgb(20, 20, 240);
    margin-top: 3px;
    padding-left: 27px;
    cursor: pointer;

  }
  & .info:hover {
    background-color: rgb(240, 240, 240);
  }
  & .out:hover {
    color:  rgb(20, 20, 235);;
  }
  & .out {
    display: flex;
    
    & .logout {
      font-size: 20px;
      font-family: serif;
      font-weight: 549;
      
      
      padding-left: 27px;
      cursor: pointer;
  
  
    }
    & i.fa-solid.fa-arrow-right-from-bracket {
      margin-left: 10px;
      margin-top: 10px;
      font-size: 17px;
      cursor: pointer;
    }
   
  }
  
  
  


}