
.card { 
    border:none
}

.brand {
    font-size: 13px
}
.act-price {
    color:red;font-weight: 700
}
.dis-price {
    text-decoration: line-through;
    margin-left: 10px;
    
    
}
.about {
    font-size: 14px
}
.color {
    margin-bottom:10px
}
label.radio  {
    cursor: pointer
}
label.radio input {
    position: absolute;top: 0;left: 0;visibility: hidden;pointer-events: none
}
label.radio span {
    padding: 2px 9px;border: 2px solid #ff0000;display: inline-block;color: #ff0000;border-radius: 3px;text-transform: uppercase
}
label.radio input:checked+span {
    border-color: #ff0000;background-color: #ff0000;color: #fff
}
.btn-danger {
    background-color: #ff0000 !important;border-color: #ff0000 !important
}
.btn-danger:hover {
    background-color: #da0606 !important;border-color: #da0606 !important
}
.btn-danger:focus {
    box-shadow: none}
.cart i {
    margin-right: 10px
 }
 .radio {
    width: 30px;
    height: 30px;
 }
 .product__info__item__quantity {
    display: flex;
    border: solid 1px;
    width: 80px;
    height: 25px;
    justify-content: center;
    .product__info__item__quantity__input {
        padding: 0 10px;
    }
    .product__info__item__quantity__btn {
        padding-right: 3px;
        
    }
   
}
p.quantity{
    font-size: 1em;
    text-transform: uppercase !important;
    font-weight: 500;
    
}
.d-flex .justify-content-between .align-items-center {
    cursor: pointer;
}
.product__info__item__list {
    display: flex;
    .product__info__item__list__item{
        border: solid 3px gray;
        border-radius: 50%;
        margin-right: 7px;


    }
    .circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #da0606;
        
    
    }
    .bg-yellow {
        background-color: yellow;
    }
    .bg-orange {
        background-color: orange;
    }
    .bg-gray {
        background-color: rgb(183, 174, 174);
    }
    .product__info__item__list__item.active {
        border-color: rgb(29, 29, 231);
    }
    
}

